.trilho {
    right: 10px;
    width: 60px;
    height: 30px;
    background-color: #dbdbdb;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para versões mais antigas do IE */
}

.trilho .indicador {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.8);
    position: absolute;
    left: 0;
    transition: 1000ms;
}
.trilho.dark {
    background-color: darkgrey;
}

.trilho.dark .indicador {
    left: 30px;
    background-color: white;
}

body.dark {
    background-color: rgb(19, 19, 19);
    transition: 1000ms;
}
.nav_container.dark{

    transition: 1000ms;
}
.nav_container.dark h1{
    color: #7734a1;
    transition: 1000ms;
}
.Container-principal.dark {
    background-color: rgba(103, 1, 187, 0.2);
    transition: 1000ms;
}
.Container-principal.dark h1 {
    color: #7734a1;
}

.Container-principal.dark h2 {
    color: white;
    transition: 1000ms;
}

