*{
    user-select: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: 'Arial', sans-serif;
    transition: background 0.5s;
}

#container {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    width: 90%;
    max-width: 250px;

}

h1 {
    color: #2d3748;
    margin-bottom: 30px;
    font-size: 24px;
}

#lamp {
    width: 200px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
}

#lamp:hover:not(.explodido) {
    transform: scale(1.05);
}

#interruptor {
    width: 100px;
    height: 150px;
    margin: 20px auto 0;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#interruptor:hover {
    transform: scale(1.1);
}

/* Classes da Lâmpada */
.ligado {
    background-image: url('../assets/lampadaligada.png');
    filter: drop-shadow(0 0 20px #ffeb3b);
}

.desligado {
    background-image: url('../assets/lampadadesligada.png');
}

.explodido {
    background-image: url('../assets/lampadaquebrada.png');
    filter: none !important;
    cursor: not-allowed;
}

/* Classes do Interruptor */
.interruptor-ligado {
    background-image: url('../assets/ligado.png');
}

.interruptor-desligado {
    background-image: url('../assets/desligado.png');
}

.creditos {
    position: fixed;
    bottom: 20px;
    color: white;
    font-size: 12px;
}
#reiniciar{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #667eea;
    color: white;

}
#reiniciar:hover {
    transform: scale(1.05);
}

#social-text {
    position: absolute;
    left: 20%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: white;
}

#links {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
}

.icon {
    width: 40px;
    height: 40px;
    padding: 0px 2px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}

#repositorio-text {
    position: absolute;
    right: 20%;
    top: 40%;
    transform: translate(50%, -50%);
    font-size: 18px;
    text-align: center;
    color: white;
}

.repositorio {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
}

